.searchBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input {
    display: inline;
    font-size: 1rem;
    color: hsla(205, 30%, 75%, 1);
    margin: 1em;
    padding: 0.65em 1em;
    flex-grow: 2;
    border-radius: 1.5em;
    border: 1px solid hsla(205, 30%, 40%, 1);
    background-color: hsla(205, 30%, 20%, 1);
}

.input::placeholder, .input::-ms-input-placeholder {
    color: hsla(205, 30%, 50%, 1);
}

.input:focus-visible {
    outline: 1px solid hsla(205, 30%, 50%, 1);
}

button {
    color: inherit;
    padding: 4px 20px;
    font-size: 1.1em;
    border: 1px solid hsla(205, 30%, 50%, 1);
    border-radius: 7px;
    background-color: hsla(205, 30%, 30%, 1);
}

button:hover {
    color: white;
    border-color: hsla(205, 30%, 55%, 1);
    background-color: hsla(205, 30%, 35%, 1);
    cursor: pointer;
}

.searchBar button {
    height: fit-content;
    align-self: center;
    margin-right: 1em;
}

/* ----- TABLET QUERY ----- */

@media only screen and (max-width: 768px) {
    .input {
        padding: 0.4em 0.75em;
        font-size: 14px;
    }

    button {
        font-size: 12px;
    }
}

/* ----- MOBILE QUERY ----- */

@media only screen and (max-width: 470px) {
    .input {
        font-size: 12px;
    }

    button {
        padding: 4px 15px;
        font-size: 11px;
    }
}
 