.subredd-list {
    position: sticky;
    top: calc(10vh + 1em);
    padding: 1em;
    border: 1px solid hsla(200, 30%, 50%, 0.5);
    border-radius: 0.5em;
    height: 83vh;
    overflow: scroll;
    background-color: hsla(200, 0%, 0%, 0.15);
}

.subredd-list h3 {
    margin: 0.5em;
}

.subredd-list ul {
    list-style-type: none;
    padding-left: 0;
}

.subredd-item {
    display: flex;
    align-items: center;
    margin: 0.4em 0;
    padding: 0.9em 1.25em 0.9em 0.8em;
    border: 1px solid hsla(200, 30%, 50%, 0.5);
    border-radius: 0.25em;
    overflow: hidden;
    color: hsla(200, 30%, 85%, 1);
    background-color: hsla(200, 30%, 15%, 1);
    position: relative;
    transition: all 0.2s ease-in-out;
}

.subredd-item:hover {
    background-color: hsla(60, 60%, 70%, 0.25);
    border: 1px solid hsla(200, 30%, 75%, 1);
    cursor: pointer;
    color: hsla(200, 30%, 100%, 1);
    box-shadow: hsla(200, 30%, 50%, 1) -2px 2px 3px;
    translate: 1px -1px;
}

.subredd-item a {
    color: white;
    text-decoration: none;
}

.subredd-icon {
    width: 25px;
    margin-right: 0.75em;
}

/* ----- TABLET QUERY ----- */

@media only screen and (max-width: 768px) {
    .subredd-list {
      padding: 0.4em;
    }

    .subredd-item {
        padding: 0.65em 1.25em 0.65em 0.3em;
        font-stretch: condensed;
      /* margin-right: 0.4em; */
    }

    .subredd-icon {
        width: 23px;
        margin-right: 0.5em;
    }
  }
  
/* ----- MOBILE QUERY ----- */

@media only screen and (max-width: 470px) {
    .subredd-list {
        display: none;
      }
  }
  