.feedList {
    margin: 0 auto;
    max-width: 55em;
}

.itemTitle {
    display: flex;
    align-items: center;
}

.itemTitle h3 {
    margin: 0.5em 1em;
}

.upsDownsBadge {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25em;
}

.itemAuthorAndSubreddit {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0 1em;
    margin: 0 0 1.25em 0;
}

.author {
    margin: 0;
}

.author:hover, .subreddit:hover {
    cursor: pointer;
    text-decoration: underline;
}

.subreddit {
    margin: 0;
    color: hsla(200, 30%, 65%, 1);
}

.itemContainer {
    margin: 1em 2em;
    padding: 1em;
    border: 1px solid hsla(200, 30%, 50%, 0.5);
    border-radius: 0.5em;
    background-color: hsla(200, 0%, 0%, 0.15);
}

.img, .video-player {
    max-width: 90%;
    max-height: 75vh;
    object-fit: contain;
    display: block;
    margin: 0.5em auto;
    background-color: hsla(200, 0%, 0%, 0.5);
}

span {
    margin: auto 2em;
}

.comment-count {
    margin-top: 1em;
    padding: 0.25em 1.25em;
    width: fit-content;
    text-align: left;
    border: 1px solid hsla(200, 30%, 50%, 0.25);
    border-radius: 5px;
}

.comment-count:hover {
    border: 1px solid hsla(200, 30%, 50%, 1);
    cursor: pointer;
}

.showing-comments {
    font-weight: 700;
    background-color: hsla(60, 60%, 70%, 0.25);
}

.markdown-body {
    text-align: left;
    margin: 1em 0.5em;
}

/* ----- TABLET QUERY ----- */

@media only screen and (max-width: 768px) {
    .itemContainer {
      margin: 1em;
    }
}
