.App {
  text-align: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-title {
  color: hsla(8, 62%, 50%, 1);
  font-size: calc(14px + 5vmin);
  font-weight: 700;
  float: inline-start;
}

.highlight {
  font-style: italic;
  margin: 0 5px;
  color: white;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
} */

.App-header {
  min-height: 10vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  position: fixed;
  left: 0;
  width: 100%;
  background-color: hsla(200, 30%, 15%, 1);
  z-index: 10;
  border-bottom: 1px solid hsla(200, 30%, 50%, 0.5);
/*  font-size: calc(14px + 20vmin); */
}

.current-thread {
  font-size: 1.5em;
  font-weight: 700;
  color: hsla(200, 30%, 65%, 1);
}

.App-link {
  color: rgb(112, 76, 182);
}

.App-body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  position: relative;
  top: 10vh;
}

/* @keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
} */
