@import url(https://github.com/sindresorhus/github-markdown-css/raw/main/github-markdown.css);

.App {
  text-align: center;
  color: white;
}

.alien-logo {
  margin-right: 0.2em;
  width: 1em;
  position: relative;
  top: 0.12em;
}

.App-title {
  color: hsla(1, 68%, 55%, 1);
  font-size: calc(2px + 3vw);
  font-weight: 700;
  min-width: 6em;
}

.highlight {
  font-style: italic;
  margin: 0;
  letter-spacing: 4px;
  color: white;
  font-size: 75%;
  position: relative;
  bottom: 2px;
  left: 4px;
}

.App-header {
  min-height: 10vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  position: fixed;
  left: 0;
  width: 100%;
  background-color: hsla(205, 30%, 15%, 1);
  z-index: 10;
  border-bottom: 1px solid hsla(205, 30%, 50%, 0.5);
}

.current-thread {
  font-size: 1.5em;
  font-weight: 700;
  color: hsla(205, 30%, 65%, 1);
}

.App-link {
  color: rgb(112, 76, 182);
}

.App-body, .App-footer {  
  position: relative;
  top: 10vh;
}

.App-body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.App-footer {
  margin-top: 1em;
  padding: 2.5em;
  background-color: hsla(205, 30%, 10%, 1);
  border-top: 1px solid hsla(205, 30%, 50%, 0.5);
}

/* ----- 1024 width QUERY ----- */

@media only screen and (max-width: 1024px) {
  .App-title {
    font-size: 2.2em;
  }

  .App-header, .App-body {
    grid-template-columns: 1fr 3fr;
  }

  .current-thread {
    display: none;
  }
}

/* ----- TABLET QUERY ----- */

@media only screen and (max-width: 768px) {
  .App {
    font-size: 14px;
  }
}

/* ----- MOBILE QUERY ----- */

@media only screen and (max-width: 470px) {
  .App {
    font-size: 12px;
  }
  
  .App-header, .App-body {
    grid-template-columns: 1fr;
    max-width: 100vw;
  }

  .App-title {
    margin-top: 0.5em;
  }

  .App-body {
    top: calc(10vh + 1.1em);
  }

  .App-footer {
    text-align: left;
    padding: 1.4em 0.5em;
  }

  .App-footer .highlight {
    letter-spacing: 1px;
  }
}
